{% extends "base.html" %}
{% load static %}

{% block content %}

<body class="indoor-bg">

<h2> Climbing Equipment </h2>
<div class="row large-4 medium-6 small-12 cell">
  <div class="card-info outdoor">
    <h4>Indoor Climbing Equipment</h4>
    <div class="card-info column">
      <p>Climbing Shoe</p>
      <td> <img src="{% static "/images/climbing_shoe.jpg" %}" style="width:256px; height:256px;"> </td>
    </div>
    <div class="card-info column">
      <p>Chalk Bag/Boulder Bag</p>
      <td> <img src="{% static "/images/chalk_bag.jpg" %}" style="width:256px; height:256px;"> </td>
    </div>
  <div class="card-info column">
    <p>Climbing Harness</p>
    <td> <img src="{% static "/images/harness.jpg" %}" style="width:256px; height:256px;"> </td>
  </div>

  </div>
</div>



</body>

{% endblock %}
