{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- <h1><a href="/"> Indoor Climbing </a></h1> -->
<h1> Indoor Climbing </h1>

<div class="card-info indoor" class="large-4 medium-6 small-12 cell">
  <div class="card-info-label">
    <div class="card-info-label-text">
      In
    </div>
  </div>
  <div class="card-info-content">
    <h3 class="lead"> What is Indoor Climbing?</h3>
    <div>
      <img src="https://img2.wikia.nocookie.net/__cb20090309234126/starwars/images/e/ee/DeathStar2.jpg" alt="death star" />
    </div>
    <p>Indoor </p>
  </div>
</div>

{% endblock %}
