{% extends "base.html" %}
{% load static %}

{% block content %}
<h1><a href="/information/"> Climbing Basics </a></h1>

<body class="elcap-bg">

<div class="grid-container">
  <div class="card-info outdoor">
    <div class="card-info-content">
      <h3 class="lead"> Rock Climbing is a rather straight forward sport, find a rock and climb up it. </h3>
      <p> When a concept is so simple, structure is needed to make it a sport. </p>
      <p> In climbing we use scales to access the difficulty of a route/climb. </p>
    </div>
  </div>
</div>

<div class="grid-container">
  <div class="row card-info outdoor">
    <div class="card-info-label">
      <div class="card-info-label-text">
        Vocab
      </div>
    </div>
    <div class="card-info-content">
        <table class="responsive-card-table unstriped">
          <thead>
            <tr>
              <th>General Term</th>
              <th>Definition</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-label="Word">Beta</td>
              <td data-label="Description">A specific, blow-by-blow description of a sequence or climb. More generally, information about a climb or climbing-related (or any) topic.</td>
            </tr>
            <tr>
              <td data-label="Word">Flash</td>
              <td data-label="Description">To send a pitch/route first try, but with specific beta.</td>
            </tr>
            <tr>
              <td data-label="Word">Campus</td>
              <td data-label="Description">The act of climbing without using feet to assist.</td>
            </tr>
            <tr>
              <td data-label="Word">Dyno</td>
              <td data-label="Description">Short for dynamic motion, when both feet(and hands) leave the rock.</td>
            </tr>
            <tr>
              <td data-label="Word">On Sight</td>
              <td data-label="Description">Similar to flash. A clean(no assist/assisted breaks) ascent with no prior practice or before. This term is generally used in outdoor climbing.</td>
            </tr>
            <tr>
              <td data-label="Word">Anchor</td>
              <td data-label="Description">A belay/rappel point generally atop a pitch, marked by fixed protection (like bolts) or built using removable protection.</td>
            </tr>
            <tr>
              <td data-label="Word">Belay</td>
              <td data-label="Description">To secure the rope while your partner climbs; you can belay a leader, a second, or provide an on-the-ground top-rope belay. Today, belaying involves using a belay device that introduces friction into the system to help arrest a fall; the guide hand stays on the rope above the device, while the brake hand clasps the rope exiting the device so it’s ready to catch a fall. The one who belays is the belayer, while the imaginary working area (personal space) the belayer needs to safely operate is the belay box.</td>
            </tr>
            <tr>
              <td data-label="Word">Pitch</td>
              <td data-label="Description">In the strictest climbing definition, a pitch is considered one rope length 50–60 metres (160–200 ft). However, in guide books and route descriptions, a pitch is the portion of a climb between two belay points.</td>
            </tr>
            <tr>
              <td data-label="Word">Lead</td>
              <td data-label="Description"> Attaching oneself to a length of dynamic (elastic) climbing rope and ascending a route while periodically attaching protection (quickdraws or traditional protection) to the face of the route and clipping into it.</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>

<div class="grid-container">
  <div class="card-info outdoor">
    <div class="card-info-label">
      <div class="card-info-label-text">
        Vocab
      </div>
    </div>
    <div class="card-info-content">
        <table class="responsive-card-table unstriped">
          <thead>
            <tr>
              <th>General Term</th>
              <th>Definition</th>
              <th>Visual Aid</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-label="Word">Bucket</td>
              <td data-label="Description">The most secure of handholds; a hold so deep, incut, and big it’s like grabbing a lithic bucket lip.</td>
              <td> <img src="{% static "/images/bucket.jpeg" %}"> </td>
            </tr>
            <tr>
              <td data-label="Word">Crimp</td>
              <td data-label="Description">A small edge upon which you crimp your fingers, i.e. bend your digits to exert pressure on the knuckles, bringing your thumb against your index finger to close the grip.</td>
              <td> <img src="{% static "/images/crimp.jpg" %}"> </td>
            </tr>
            <tr>
              <td data-label="Word">Jam</td>
              <td data-label="Description">To place your fist frontally inside a crack, then clench it to cam it in; can be executed with your palm facing toward or away from you.</td>
              <td> <img src="{% static "/images/jam.jpeg" %}"> </td>
            </tr>
            <tr>
              <td data-label="Word">Jug</td>
              <td data-label="Description">A bucket hold so incut and hand-friendly, it’s like the handle on a one-gallon jug; to jumar a fixed line.</td>
              <td> <img src="{% static "/images/jug.jpeg" %}"> </td>
            </tr>
            <tr>
              <td data-label="Word">Pocket</td>
              <td data-label="Description">An inset hole, divot, or rock hollow.</td>
              <td> <img src="{% static "/images/pocket.jpg" %}"> </td>
            </tr>
            <tr>
              <td data-label="Word">Heel Hook</td>
              <td data-label="Description">Glomming your heel onto or around a rock feature and pulling.</td>
              <td> <img src="{% static "/images/heel_hook.jpg" %}"> </td>
            </tr>
            <tr>
              <td data-label="Word">Toe Hook</td>
              <td data-label="Description">Using your toe to hook/pull around a rock feature.</td>
              <td> <img src="{% static "/images/toe_hook.jpg" %}"> </td>
            </tr>
            <tr>
              <td data-label="Word">Bat Hang</td>
              <td data-label="Description">Using both feet to hang upside down, can be through a foot jam or toe hook </td>
              <td> <img src="{% static "/images/bat_hang.jpg" %}"> </td>
            </tr>
            <tr>
              <td data-label="Word">Flag</td>
              <td data-label="Description">To drape one leg crosswise across the other, usually behind it (an outside flag), while pointing the flagged leg’s toe into the rock to counter a barn door.</td>
              <td> <img src="{% static "/images/flag.jpg" %}"> </td>
            </tr>
            <tr>
              <td data-label="Word">Smear</td>
              <td data-label="Description">Pressing a foot, generally whole foot, on the rock when no hold exists.</td>
              <td> <img src="{% static "/images/smear.jpg" %}"> </td>
            </tr>
            <tr>
              <td data-label="Word">Lieback</td>
              <td data-label="Description">To lean horizontally (sideways) off a hold, often a crack, and walk the feet high in opposition.</td>
              <td> <img src="{% static "/images/lie_back.jpg" %}"> </td>
            </tr>
            <tr>
              <td data-label="Word">Mantel</td>
              <td data-label="Description">Pressing down on a ledge or boulder lip with one or both arms, recruiting the triceps, while you rock over your foot; short for mantelshelf. A beached whale is a poorly executed mantel.</td>
              <td> <img src="{% static "/images/mantle.jpg" %}"> </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>

<div class="grid-container">
  <div class="card-info outdoor">
    <div class="card-info-label">
      <div class="card-info-label-text">
        Rate
      </div>
    </div>
    <div class="card-info-content">
      <h3 class="lead"> Yosemite Decimal System Class Hierarchy</h3>
      <p></p>
      <ol>
        <li> Walking with a low chance of injury, hiking boots a good idea. </li>
        <li> Simple scrambling, with the possibility of occasional use of the hands. Little potential danger is encountered. Hiking Boots highly recommended. </li>
        <li> Scrambling with increased exposure. Handholds are necessary. A rope should be available for learning climbers, or if you just choose to use one that day, but is usually not required. Falls could easily be fatal. </li>
        <li> Simple climbing, with exposure. A rope is often used. Natural protection can be easily found. Falls may well be fatal. </li>
        <li> Is considered technical roped free (without hanging on the rope, pulling on, or stepping on anchors) climbing; belaying, and other protection hardware is used for safety. Un-roped falls can result in severe injury or death. Class 5 has a range of sub-classes, ranging from 5.0 to 5.15d,[6], to define progressively more difficult free moves. </li>
      </ol>
    </div>
  </div>
</div>

<div class="grid-container">
  <div class="card-info outdoor div-pad">
    <div class="card-info-label">
      <div class="card-info-label-text">
        Rate
      </div>
    </div>
    <table class="responsive-card-table unstriped">
      <h4 class="div-pad">Most ratings are unique to the area or gym. However, general rule of thumb is as follows. </h4>
      <thead>
        <tr>
          <th>Vscale</th>
          <th>Yosemite Decimal System</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-label="First Name">VB(beginner)</td>
          <td data-label="Last Name">5.1-5.8 </td>
          </td>
        </tr>
        <tr>
          <td data-label="First Name">V0</td>
          <td data-label="Last Name">5.9</td>
        </tr>
        <tr>
          <td data-label="First Name">V1</td>
          <td data-label="Last Name">5.10+</td>
        </tr>
        <tr>
          <td data-label="First Name">V2</td>
          <td data-label="Last Name">5.11-</td>
        </tr>
        <tr>
          <td data-label="First Name">V3</td>
          <td data-label="Last Name">5.11+</td>
        </tr>
        <tr>
          <td data-label="First Name">V4</td>
          <td data-label="Last Name">5.12-</td>
        </tr>
        <tr>
          <td data-label="First Name">V5</td>
          <td data-label="Last Name">5.12</td>
        </tr>
        <tr>
          <td data-label="First Name">V6</td>
          <td data-label="Last Name">5.12+</td>
        </tr>
        <tr>
          <td data-label="First Name">V7</td>
          <td data-label="Last Name">5.13-</td>
        </tr>
        <tr>
          <td data-label="First Name">V8</td>
          <td data-label="Last Name">5.13</td>
        </tr>
        <tr>
          <td data-label="First Name">V9</td>
          <td data-label="Last Name">5.43+</td>
        </tr>
        <tr>
          <td data-label="First Name">V10</td>
          <td data-label="Last Name">5.14-t</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

</body>

{% endblock %}
