{% extends "base.html" %}
{% load static %}

{% block content %}
<h1><a href="/information/"> Climbing Basics </a></h1>

<body class="elcap-bg">

<div class="card-info outdoor">
  <div class="card-info-content">
    <h3 class="lead"> Rock Climbing is a rather straight forward sport, find a rock and climb up it. </h3>
    <p> When a concept is so simple, structure is needed to make it a sport. </p>
    <p> In climbing we use scales to access the difficulty of a route/climb. </p>
  </div>
</div>

<div class="card-info outdoor">
  <div class="card-info-content">
      <table class="responsive-card-table unstriped">
        <thead>
          <tr>
            <th>Word</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-label="Word">Beta</td>
            <td data-label="Description">Wayne</td>
          </tr>
          <tr>
            <td data-label="Word">Flash</td>
            <td data-label="Description">Wayne</td>
          </tr>
          <tr>
            <td data-label="Word">Campus</td>
            <td data-label="Description">Wayne</td>
          </tr>
          <tr>
            <td data-label="Word">Dyno</td>
            <td data-label="Description">Wayne</td>
          </tr>
          <tr>
            <td data-label="Word">On Sight</td>
            <td data-label="Description">Wayne</td>
          </tr>
          <tr>
            <td data-label="Word">Anchor</td>
            <td data-label="Description">Wayne</td>
          </tr>
          <tr>
            <td data-label="Word">Belay</td>
            <td data-label="Description">Wayne</td>
          </tr>
          <tr>
            <td data-label="Word">Pitch</td>
            <td data-label="Description">Wayne</td>
          </tr>
          <tr>
            <td data-label="Word">Lead</td>
            <td data-label="Description">Wayne</td>
          </tr>
          <tr>
            <td data-label="Word">Crimp</td>
            <td data-label="Description">Wayne</td>
          </tr>
          <tr>
            <td data-label="Word">Jam</td>
            <td data-label="Description">Wayne</td>
          </tr>
          <tr>
            <td data-label="Word">Jug</td>
            <td data-label="Description">Wayne</td>
          </tr>
          <tr>
            <td data-label="Word">Pocket</td>
            <td data-label="Description">Wayne</td>
          </tr>
          <tr>
            <td data-label="Word">Hook</td>
            <td data-label="Description">Wayne</td>
          </tr>
          <tr>
            <td data-label="Word">Flag</td>
            <td data-label="Description">Wayne</td>
          </tr>
          <tr>
            <td data-label="Word">Smear</td>
            <td data-label="Description">Wayne</td>
          </tr>
          <tr>
            <td data-label="Word">Knee Bar</td>
            <td data-label="Description">Wayne</td>
          </tr>
          <tr>
            <td data-label="Word">Lieack</td>
            <td data-label="Description">Wayne</td>
          </tr>
          <tr>
            <td data-label="Word">Mantel</td>
            <td data-label="Description">Wayne</td>
          </tr>
        </tbody>
      </table>
    <!-- </div> -->
  </div>
</div>

<div class="card-info outdoor">
  <div class="card-info-label">
    <div class="card-info-label-text">
      Slang
    </div>
  </div>
  <div class="card-info-content">
    <h3 class="lead"> Climbing Language </h3>
    <ul>
      <li> Flash </li>
      <ul>
        <li> Climb all the way up a route on the first try. </li>
      </ul>
      <li> Beta </li>
      <ul>
        <li> Climb all the way up a route on the first try. </li>
      </ul>
      <li> On Sight </li>
      <li> Dyno </li>
      <li> Campus </li>
      <li> Pitch </li>

      <li> Anchor </li>
      <li> Belay </li>
      <li> Lead </li>

      <li> Jug </li>
      <li> Crimp </li>
      <li> Pocket </li>

      <li> Jam </li>
      <li> Hook </li>
      <li> Smear </li>
      <li> Flag </li>
      <li> Knee Bar </li>
      <li> Lieback </li>
      <li> Mantel </li>

    </ul>
  </div>
</div>

<div class="card-info outdoor">
  <div class="card-info-label">
    <div class="card-info-label-text">
      Rate
    </div>
  </div>
  <div class="card-info-content">
    <h3 class="lead"> Yosemite Decimal System Class Hierarchy</h3>
    <p></p>
    <ol>
      <li> Walking with a low chance of injury, hiking boots a good idea. </li>
      <li> Simple scrambling, with the possibility of occasional use of the hands. Little potential danger is encountered. Hiking Boots highly recommended. </li>
      <li> Scrambling with increased exposure. Handholds are necessary. A rope should be available for learning climbers, or if you just choose to use one that day, but is usually not required. Falls could easily be fatal. </li>
      <li> Simple climbing, with exposure. A rope is often used. Natural protection can be easily found. Falls may well be fatal. </li>
      <li> Is considered technical roped free (without hanging on the rope, pulling on, or stepping on anchors) climbing; belaying, and other protection hardware is used for safety. Un-roped falls can result in severe injury or death. Class 5 has a range of sub-classes, ranging from 5.0 to 5.15d,[6], to define progressively more difficult free moves. </li>
    </ol>
  </div>
</div>

<div class="card-info outdoor">
  <table class="responsive-card-table unstriped">
    <thead>
      <tr>
        <th>Vscale</th>
        <th>Yosemite Decimal System</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-label="First Name">Bruce</td>
        <td data-label="Last Name">Wayne</td>
      </tr>
      <tr>
        <td data-label="First Name">Peter</td>
        <td data-label="Last Name">Parker</td>
      </tr>
      <tr>
        <td data-label="First Name">Bruce</td>
        <td data-label="Last Name">Banner</td>
      </tr>
      <tr>
        <td data-label="First Name">Clark</td>
        <td data-label="Last Name">Kent</td>
      </tr>
    </tbody>
  </table>
</div>



<div class="card-info outdoor">
  <div class="card-info-label">
    <div class="card-info-label-text">
      Rate
    </div>
  </div>
  <div class="card-info-content">
    <h3 class="lead"> Death Star</h3>
    <img src="https://img2.wikia.nocookie.net/__cb20090309234126/starwars/images/e/ee/DeathStar2.jpg" alt="death star" />
    <p>The Death Star was a moon-sized Imperial military battlestation armed with a planet-destroying superlaser.</p>
  </div>
</div>


</body>

{% endblock %}
