{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- <h1><a href="/"> Outdoor Climbing </a></h1> -->
<h1> Outdoor Climbing </h1>

<body class="elcap-bg">

<div class="card-info outdoor">
  <div class="card-info-label">
    <div class="card-info-label-text">
      Out
    </div>
  </div>
  <div class="card-info-content">
    <h3 class="lead"> Mad Max: Fury Road</h3>
    <p>In a post-apocalyptic world, in which people fight to the death, Max teams up with a mysterious woman, Furiousa, to try and survive.</p>
  </div>
</div>

</body>

{% endblock %}
