{% extends "base.html" %}
{% block content %}
<!-- <h1>Hello World Template</h1> -->
<div class="grid-container">
  <div class="grid-x grid-padding-x">
      <div class="large-12 cell">
        <h1>Hello World</h1>
      </div>
      {% for item in climbs %}
      <div class="large-4 medium-4 small-12 cell">
        <p>{{ item.climb }}</p>
      </div>
      {% endfor %}
    </div>
</div>

{% if page %}
<h2>Page {{ page }}</h2>
{% endif %}
<form action="/" method="post">
    {% csrf_token %}
    <!-- {{ form_instance }}
    <input type="submit" class="button" value="Submit"> -->
    <div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="large-4 medium-6 small-12 cell">
      {{ form_instance }}
      <input type="submit" class="button" value="Submit">
    </div>
  </div>
</div>
</form>
{% endblock %}
