{% extends "base.html" %}
{% load static %}

{% block content %}
<body class="grey-bg">

{% if user.is_authenticated %}
<div class="grid-container climb-bg">
  <form action="/" method="post">
  <div class="large-4 medium-6 small-12 large-offset-1 medium-offset-1 cell card-info opacity-item">
    <h4 class="top-pad-small"><u>New Climb: </u></h4>
    <div class="grid-x grid-padding-x">
      <div class="large-4 medium-6 small-12 cell remove-dots">
        {% csrf_token %}
        {{ form_instance }}
        <br>
        <input type="submit" class="button" value="Submit">
      </div>
    </div>
  </div>
  </form>
</div>

{% endif %}

{% if user.is_authenticated %}
<div class="grid-container">
    <div class="">
      <h3>User Climbs</h3>
    </div>

    <div class="div-pad" id="app-4">
          <div class="card-info" v-for="todo in todos.climbs">
            {% verbatim %}
            <div class="top-pad">
              Name/Location: {{ todo.climb }}
            </div>
            <div class="div-pad">
              <br>
              <div class="large-offset-1 medium-offset-1 small-offset-1">
                Difficulty: {{ todo.difficulty }}
                <br>
                <br>
                <p v-if="todo.outdoor_bool">Outdoor Climbing</p>
                <p v-else>Indoor Climbing</p>
              </div>
              <br>
              Notes: {{ todo.climb_notes }}
              <br>
              Climbed by {{ todo.author }} on {{ todo.created_on }}
            </div>
            <br>
            <div class="div-pad">
                <form v-bind:action="'/comment/'+ todo.id+'/'" method="post">
                    {% endverbatim %}
                    {% csrf_token %}
                    {{ comm_form }}
                    {% verbatim %}
                    <input type="submit" class="button expanded div-pad" value="Comment" />
                </form>
            </div>

            <h3 class="div-pad"><u>Comments</u></h3>
            <div class="box-pad grid-container div-pad" v-for="comm in todo.comments">
              {{ comm.comment }} by {{ comm.author }} on {{ todo.created_on }}
            </div>
          </div>
        {% endverbatim %}
      </div>
</div>
{% endif %}
</body>

{% endblock %}

{% block scripts %}

{% if user.is_authenticated %}
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="{% static "js/my_vue.js" %}"></script>
<script src="{% static "js/app.js" %}"></script>

{% endif %}


{% endblock %}
