{% extends "base.html" %}
{% load static %}

{% block content %}
<body class="grey-bg">

{% if user.is_authenticated %}
<div class="grid-container">
  <form action="/" method="post">
  <div class="large-4 medium-6 small-12 large-offset-1 medium-offset-1 cell card-info">
    <p>New Climb: </p>
    <div class="grid-x grid-padding-x">
      <div class="large-4 medium-6 small-12 cell">
        {% csrf_token %}
        {{ form_instance }}
        <br>
        <input type="submit" class="button" value="Submit">
      </div>
    </div>
  </div>
  </form>
</div>

{% endif %}

{% if user.is_authenticated %}
<div class="grid-container">
  <div class="grid-x grid-padding-x">
      <div class="large-12 cell">
        <h3>User Climbs</h3>
      </div>

      <div class="large-8 medium-8 small-12 large-offset-1 medium-offset-1" id="app-4">
            <div class="card-info" v-for="todo in todos.climbs">
              {% verbatim %}
              <div cell>
                Name/Location: {{ todo.climb }}
              </div>
              <div>
                <br>
                &emsp;
                Difficulty: {{ todo.difficulty }}
                <br>
                &emsp;

                <!-- Outdoor Climbing? {{ todo.outdoor_bool }} -->
                <p id="in-out">{{ todo.outdoor_bool }}</p>

                <!-- <p>{{ todo.outdoor_bool }}</p> -->

                <!-- {% endverbatim %}
                {% if 'todo.outdoor_bool' == 'todo.outdoor_bool' %}
                  <br>
                  &emsp;
                  Outdoor Climbing
                {% else %}
                  <br>
                  &emsp;
                  Indoor Climbing
                {% endif %}
                {% verbatim %} -->

              </div>
              &emsp;
              &emsp;
              <br>

              <div class="card-info comment-div button">
                <a v-bind:href="'/comment/'+ todo.id+'/'">Comment</a>
              </div>
              &emsp;
              &emsp;

              Climbed by {{ todo.author }} on {{ todo.created_on }}

              <br>
              <h3><u>Comments</u></h3>
              <div class="card-info" v-for="comm in todo.comments">
                {{ comm.comment }} by {{ comm.author }} on {{ todo.created_on }}
              </div>
            </div>
          {% endverbatim %}
        </div>

      </div>
    </div>
</div>
{% endif %}
</body>

{% endblock %}

{% block scripts %}

{% if user.is_authenticated %}
<!-- development version, includes helpful console warnings -->
<script>
  var type;
  if (document.getElementById("in-out").innerHTML == 'true') {
      type = "Outdoor Climbing";
  } else {
      type = "Indoor Climbing";
  }
  document.getElementById("in-out").innerHTML = type;
</script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="{% static "js/my_vue.js" %}"></script>
<script src="{% static "js/app.js" %}"></script>

{% endif %}


{% endblock %}
