body{
  background-size: contain;
  background-color: orange;
  background-size: cover;
  color: orange;
}

h1{
  border-bottom: 10px solid grey;
  border-bottom: 10px solid white;
  text-align: center;
  background-image: url("http://www.sjpumpkinshow.com/PS2018PumpkinClipArt.jpg");
}
h3{
  color: black;
}
p{
  color: white;
}
