{% extends "base.html" %}
{% load static %}

{% block title %}Account{% endblock %}
{% block content %}
{% if user.is_authenticated %}

<div class="card-info">
  <div class="card-info-content">
    <h2>User Name: {{ user.get_username }}</h2>
  </div>


</div>
{% endif %}


</div>
{% if user.is_authenticated %}
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="{% static "js/my_vue.js" %}"></script>
<script src="{% static "js/app.js" %}"></script>
{% endif %}

{% endblock %}
