{% extends "base.html" %}
{% load static %}

{% block title %}Account{% endblock %}
{% block content %}
{% if user.is_authenticated %}

<div class="card-info">
  <div class="card-info-content">
    <h2>User Name: {{ user.get_username }}</h2>
  </div>

{% if user.is_authenticated %}
{% if user.get_username == user.get_username %}
<div class="grid-container">
  <div class="grid-x grid-padding-x">
      <div class="large-12 cell">
        <h3><u>Posts: </h3>
      </div>
      </div>
    </div>
</div>
{% endif %}</u>
{% endif %}


</div>
{% endif %}
{% if user.is_authenticated %}
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="{% static "js/my_vue.js" %}"></script>
<script src="{% static "js/app.js" %}"></script>
{% endif %}

{% endblock %}
